main, main .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

.box {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.maintenance-icon {
    width: fit-content;
    line-height: 0;
    padding: 25px;
    background: var(--color-primary);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.maintenance-icon span {
    color: var(--color-secondary);
    font-size: 5em;
    font-variation-settings: 'wght' 300;
}

.maintenance-text p:last-child {
    margin-bottom: 0;
}