:root {
    --font-primary: 'Red Hat Display', sans-serif;
    --font-base-size: 16px;
    --color-main: #FFF;
    --color-secondary: #121212;
    --color-secondary-light: #1f1f1f;
    --color-primary: #63bbff;
    --color-primary-25-opacity: rgba(99, 187, 255, 0.25);
    --color-gray: #8a8f98;
    --color-red: #d25c5a;
    --color-green: #379f9a;
    --aside-width: 260px;
    --gap: 1.5625em;
    --box-gap: 0.3125em;
    --header-height: 51px;
    --padding: 12px 16px;
    --input-border: hsla(0, 0%, 100%, 0.1);
    --input-hover-border: hsla(0, 0%, 100%, 0.2);
    --hover: rgba(199, 199, 199, 0.2);
    --border-size: 5px;
    --border-radius: 4px;
    --box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--font-base-size);
    color: var(--color-main);
    background-color: var(--color-secondary);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
    border: 0px;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 1.5em;
}

h4 {
    font-weight: 600;
    font-size: 1.125em;
}

h5 {
    font-weight: 500;
    font-size: 1em;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 0.85em;
    padding: 0.815em 1.25em;
    background: var(--color-primary);
    border: none;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    gap: 0.7em;
    cursor: pointer;
}

.btn[disabled] {
    background: var(--color-primary-25-opacity);
}

.btn--loading {
    font-size: 0!important;
}

.btn--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: var(--color-secondary);
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}
  
@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.btn span.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.mobile {
    display: none;
}

.color-primary {
    color: var(--color-primary);
}

.color-green {
    color: var(--color-green);
}

.color-red {
    color: var(--color-red);
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.container {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.logo {
    width: 10.46875em;
    height: 1.5625em;
}

.logo .dark, .logo-icon .dark {
    display: none;
}

.page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secondary);
    opacity: 0.95;
    z-index: 998;
}

.page-overlay.show, .page-overlay.load-data {
    display: block;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.page-overlay.load-data .loading {
    display: flex;
}

/* SIDEBAR */

aside {
    position: fixed;
    background-color: var(--color-secondary);
    width: var(--aside-width);
    height: 100vh;
    padding: 13.5px 0px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    z-index: 4;
    transition: all .5s;
}

aside .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.sidebar-logo a {
    line-height: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
    padding: 0.875em 0.75em;
    height: 52px;
    border-radius: var(--border-radius);
}

.nav-link.selected {
    background: var(--color-primary);
}

.nav-link.selected span.material-symbols-rounded {
    color: var(--color-secondary);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.nav-link.nav-link.selected .nav-link-text {
    color: var(--color-secondary);
}

.nav-link:not(.selected):hover {
    background-color: var(--hover);
}

.nav-link-icon {
    line-height: 0;
}

.nav-link-text {
    font-weight: 500;
    white-space: nowrap;
}

aside .sidebar-logo .logo-icon {
    display: none;
}

.nav-link[data-action="open"] {
    display: none;
}

aside.closed, aside.closed ~ header, aside.closed ~ main {
    --aside-width: calc(52px + 2em);
}

aside.closed .container {
    padding-left: 1em;
    padding-right: 1em;
}

aside.closed .sidebar-logo .logo, aside.closed .nav-link.nav-link .nav-link-text, aside.closed .nav-link[data-action="close"] {
    display: none;
}

aside.closed .sidebar-logo .logo-icon, aside.closed .nav-link[data-action="open"] {
    display: block;
}

aside.closed .nav-link {
    padding: 0.75em;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    width: calc(100vw - var(--aside-width));
    padding: 13.5px 0;
    background-color: var(--color-secondary);
    z-index: 3;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-options {
    display: flex;
    align-items: center;
    gap: 1.875em;
}

.notifications, .user-options, .user-logout {
    position: relative;
    cursor: pointer;
    line-height: 0;
}

.notifications .dropdown-menu {
    width: 500px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: var(--color-secondary);
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    z-index: 997;
}

.dropdown-menu.open {
    display: block;
}

.dropdown-item {
    padding: 0 1em;
}

.dropdown-item a {
    display: flex;
    align-items: center;
    gap: 0.875em;
    padding: 1em 0.5em;
    line-height: 1.25;
    border-bottom: 1px solid var(--color-gray);
}

.dropdown-item.unseen {
    background-color: var(--hover);
}

.dropdown-item:last-child a {
    border-bottom: 0;
}

.dropdown-icon {
    line-height: 0;
}

.menu {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--color-main);
}

.user-options .dropdown-text {
    white-space: nowrap;
}

/* MAIN */

main {
    position: relative;
    width: calc(100vw - var(--aside-width));
    min-height: calc(100vh - var(--header-height));
    background-color: var(--color-secondary);
    background-image: url("https://uploads-ssl.webflow.com/6363605dadc09d40e70c4ae7/63a35099fa137f53714811d4_leftvektor.svg"), url("https://uploads-ssl.webflow.com/6363605dadc09d40e70c4ae7/63a35099dcb75c36d40e92fe_rightvector.svg");
    background-position: 100% 50%, 0px 0px;
    background-size: 25%, 25%;
    background-repeat: no-repeat, no-repeat;
    float: right;
    margin-top: var(--header-height);
}

main .container {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
    padding: 1.1875em 1.5em;
}

.row {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    overflow: hidden;
}

.column {
    display: grid;
    column-gap: var(--gap);
    row-gap: var(--gap);
    height: 100%;
}

.page-heading {
    grid-template-columns: auto auto;
}

.four-boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
    position: relative;
    display: grid;
    gap: calc(var(--gap) - var(--box-gap) - 0.25em);
    width: 100%;
    background-color: var(--color-secondary);
    padding: var(--gap);
    border: var(--border-size) solid var(--color-secondary-light);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.box-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--box-gap);
}

.four-boxes .box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.box-data {
    display: flex;
    flex-direction: column;
    gap: 0.4125em;
}

.four-boxes h4 {
    color: var(--color-primary);
    font-weight: 500;
}

.box-price {
    font-weight: 600;
    font-size: 2.25em;
    line-height: 1;
}

.box-graph {
    line-height: 0;
}

.mid-row {
    grid-template-columns: auto 1fr;
}

.mid-row > .box {
    gap: var(--box-gap);
}

.box.daily-tip {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: var(--border-size) solid var(--color-primary);
    border-right: var(--border-size) solid var(--color-primary);
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: var(--box-gap);
}

.calendar {
    border-radius: var(--border-radius);
}

.calendar-btn {
    color: var(--color-gray);
    cursor: pointer;
    line-height: 0;
}

.calendar-month {
    font-size: 13.6px;
    color: var(--color-gray);
}

.calendar table {
    width: calc(100% + 10px);
    table-layout: fixed;
    border-spacing: 5px;
    margin: 0 -5px -5px -5px;
}

.calendar table th {
    padding: var(--padding);
    font-weight: 600;
    font-size: 0.8125em;
}

.calendar td {
    position: relative;
    height: 65px;
    border: 1px solid var(--color-primary-25-opacity);
    border-radius: var(--border-radius);
}

.calendar td.day {
    background-color: var(--color-primary-25-opacity);
}

.calendar .day-traded {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.calendar .day-traded .material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.calendar td.day.profit {
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    color: var(--color-secondary);
}

.calendar td.day.loss {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: var(--color-secondary);
}

.calendar td.day span.day-num {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.75em;
    font-weight: 500;
}

.calendar td.day div {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 0.75em;
}

.calendar td.day div span {
    display: block;
}

.calendar td.day div span:first-child {
    font-size: 1em;
    font-weight: 700;
}

.calendar td.day .day-pl span:last-child {
    display: block;
    position: relative;
}

.calendar td.day .day-pl span:last-child:after {
    content: ' trades';
}

.row.trades {
    grid-template-columns: 1fr;
}

.row.trades .buttons-container {
    gap: 1em;
}

.row.trades .btn:not(.selected) {
    background-color: var(--color-primary-25-opacity);
}

.box-tabs .tab {
    display: none;
}

.box-tabs .tab.selected {
    display: block;
}

.table-default {
    border-radius: var(--border-radius);
    overflow-y: hidden;
}

.table-default table {
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-default thead tr {
    border-radius: var(--border-radius);
    background-color: var(--color-primary-25-opacity);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.table-default tr {
    align-items: center;
}

.table-default th, .table-default td {
    padding: var(--padding);
}

.table-default tr.profit td:last-child {
    color: var(--color-green);
}

.table-default tr.loss td:last-child {
    color: var(--color-red);
}

.table-default tbody tr {
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.table-default tbody tr:nth-child(even) {
    background-color: var(--color-secondary-light);
}

.table-default:not(.open-trades) tbody td:nth-child(4) > span {
    text-transform: capitalize;
}

.no-trades {
    text-align: center;
    margin: 1em;
}

/* POPUP */

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: var(--padding);
    color: var(--color-secondary);
    background-color: var(--color-main);
}

.popup.show {
    display: block;
}

/* SCROLLBAR */

::-webkit-scrollbar-track
{
	background-color: var(--color-secondary-light);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
	background-color: var(--color-secondary-light);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--color-primary);
    border-radius: var(--border-radius);
}

@media (max-width: 1525px) {
    :root {
        --gap: 1em;
    }
    .four-boxes {
        grid-template-columns: 1fr 1fr;
    }
    .mid-row {
        grid-template-columns: 1fr;
    }
    .table-default table {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    :root {
        --font-base-size: 14px;
    }
    .box-tabs {
        overflow-x: auto;
        padding-bottom: 2.5px;
    }
    .table-default .table-head, .table-default .table-body {
        width: 1150px;
    }
}

@media (max-width: 786px) {
    :root {
        --header-height: 54px!important;
    }
    .mobile {
        display: block;
    }
    .desktop, .sidebar-logo, .notifications, .user-options, .row.trades .buttons-container, .calendar .day-traded {
        display: none;
    }
    .btn {
        padding: 0.715em 1.25em;
    }
    .page-overlay.menu-overlay {
        display: block;
        top: var(--header-height);
        height: calc(100vh - var(--header-height));
    }
    .page-overlay.load-data img {
        height: 30px;
    }
    .page-overlay.load-data svg {
        width: 55px;
    }
    header, main {
        width: 100%;
    }
    header .container {
        justify-content: space-between;
    }
    aside {
        height: 100%;
        position: fixed;
        top: var(--header-height);
        left: 0;
        height: calc(100vh - var(--header-height));
        width: 250px;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        z-index: 999;
    }
    aside.open {
        transform: translateX(0);
    }
    .nav-link {
        height: auto;
    }
    .four-boxes {
        grid-template-columns: 1fr;
    }
    .box {
        gap: var(--gap);
    }
    .box-price {
        font-size: 1.75em;
    }
    .box.daily-tip {
        flex-direction: column;
    }
    .box.daily-tip .bold {
        font-weight: 600;
        font-size: 1.125em;
    }
    .calendar {
        overflow-x: auto;
        padding-bottom: 5px;
    }
    .calendar table {
        width: 600px;
    }
    .calendar td {
        height: 50px;
    }
    .table-default td span {
        font-size: 13px;
    }
}